<% if @parks %>
<div class="grid-container">

  <% @parks.each do |park| %>
    <div class="grid-item">
      <p>Park: <%= park["name"] %></p>
      <p><img src="<%= park["picture_file_name"] %>" alt="picture of park"></p>
    </div>
  <% end %>
<% else %>
  <p>There are no parks. Go away</p>
  </div>
<% end %>
